* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    margin: 30px 10%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* This Css of index.html */

/* Header */

header .menu-list {
    display: flex;
}

header .menu-list li {
    list-style: none;
}

header .menu-list li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

/* Main */
.home-page {
    text-align: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    
}

.home-page .content {
    padding: 30px;
    max-width: 800px;
    width: 100%;
}

.content-image {
    display: flex;
    justify-content: center; /* จัดกลางแนวนอน */
    height: 100vh;

    img {
        border-radius: 23px;
    }
}

/* Text style Topic Home-page */
.text-homepage-hard {
    font-size: 300%;
    margin-top: 20px;
}
.text-homepage-light {
    font-size: 140%;
    margin-bottom: 20px;
}

/* article */
article .topic-article {
    font-size: 160%;
}

.article_1 p {
    line-height: 1.8; /* เว้นบรรทัดให้สูงพอเหมาะเพื่อให้อ่านง่าย */
    font-size: 16px;  /* ขนาดฟอนต์ที่ไม่เล็กเกินไป */
    color: #333;      /* สีข้อความที่ดูสบายตา */
    margin-bottom: 60px; /* เว้นระยะห่างระหว่างย่อหน้า */
}

.article_2 .topic p{
    margin-top: 40px;
    line-height: 1.8; /* เว้นบรรทัดให้สูงพอเหมาะเพื่อให้อ่านง่าย */
    font-size: 25px;  /* ขนาดฟอนต์ที่ไม่เล็กเกินไป */
    color: #333;      /* สีข้อความที่ดูสบายตา */
    margin-bottom: 10px; /* เว้นระยะห่างระหว่างย่อหน้า */
}

.article_2 p{
    margin-top: 40px;
    line-height: 1.8; /* เว้นบรรทัดให้สูงพอเหมาะเพื่อให้อ่านง่าย */
    font-size: 16px;  /* ขนาดฟอนต์ที่ไม่เล็กเกินไป */
    color: #333;      /* สีข้อความที่ดูสบายตา */
    margin-bottom: 10px; /* เว้นระยะห่างระหว่างย่อหน้า */
}

.article_2 .content-image-article {
    display: flex;
    justify-content: center; /* จัดกลางแนวนอน */
    height: 60vh;
}

/* Footer */
footer {
    padding: 15px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}



